.body {
    background: #171835;
    width: 100%;
    height: 1000px;

    .banner {
        height: 700px;
        left: 0px;
        top: 100px;

        background: linear-gradient(180deg, rgba(23, 24, 53, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
        border: 1px solid #000000;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        .group-info {
            color: white;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        .card-container {
            display: flex;
            align-items: center;
            .card {
                
                max-width: 400px;
                margin: auto;
                text-align: center;
                font-family: arial;
            }

            h1 {
                color: white;
            }
            
            h3 {
                color: white;
            }

            .memberImage {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                box-shadow: 0 4px 8px 0 white;
            }

            .memberInfo {
           
                a{
                    cursor: pointer;
                    color: #EC008B;
                    .social-image {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        
                    }
                }
            }

            .card button {
                display: inline-block;
                border-radius: 45%;
                border: none;
                outline: 0;
                padding: 12px;
                text-align: center;
                cursor: pointer;
                width: 30%;
                font-size: 18px;
                margin-left: 10%;
            }

            .card button:hover {
                opacity: 0.7;
            }
        }

        
    }


}